# Opened files 
*.sw*

# Folders
_build

# Prerequisites

# Compiled Object files

# Precompiled Headers

# Compiled Dynamic libraries

# Fortran module files

# Compiled Static libraries

# Executables

#Aux data files
